.card {
    width: 310px;
    height: 520px;
    padding: 20px 10px;
    background-color: #fff;
    border: 1px solid #10182833;
    border-radius: 20px;
    overflow: scroll;

    @media screen and (min-width: 768px) {
        width: 748px;
        height: 720px;
        padding: 20px;
    }

    @media screen and (min-width: 1440px) {
        width: 982px;
        height: 720px;
        padding: 40px;
    }
}

.titleWrap {
    text-align: left;
}

.name {
    max-width: 290px;
    color: #101828;
    height: 30px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        font-size: 20px;
        margin-bottom: 4px;
    }

    @media screen and (min-width: 1440px) {
        max-width: 339px;
        height: 30px;
        font-size: 24px;
        margin-bottom: 8px;
    }
}

.locationWrap {
    display: flex;
    gap: 16px;
    margin-bottom: 12px;

    @media screen and (min-width: 768px) {
        margin-bottom: 16px;
    }

    @media screen and (min-width: 1440px) {
        margin-bottom: 24px;
    }
}

.reviewWrap {
    border-bottom: 1px solid black;
}

.reviews {
    color: #101828;
    font-size: 10px;
    line-height: 1.5;
    display: flex;
    align-items: center;

    @media screen and (min-width: 768px) {
        font-size: 12px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 16px;
    }
}

.svgStar {
    @media screen and (min-width: 768px) {
        width: 20px;
        height: 20px;
    }

    @media screen and (min-width: 1440px) {
        width: 24px;
        height: 24px;
    }
}

.svgLocation {
    @media screen and (min-width: 768px) {
        width: 12px;
        height: 12px;
    }

    @media screen and (min-width: 1440px) {
        width: 16px;
        height: 16px;
    }
}

.location {
    color: #101828;
    font-size: 10px;
    line-height: 1.5;
    display: flex;
    align-items: center;

    @media screen and (min-width: 768px) {
        font-size: 12px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 16px;
    }
}

.price {
    color: #101828;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
        font-size: 20px;
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 24px;
        margin-bottom: 24px;
    }
}

.imgList {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0 auto;
    margin-bottom: 22px;

    @media screen and (min-width: 768px) {
        flex-wrap: nowrap;
        overflow: scroll;
    }

    @media screen and (min-width: 1440px) {
        margin-bottom: 44px;
    }
}

.imgWrap {
    width: 290px;
    height: 300px;
    border-radius: 10px;
    background-color: #475467;

    @media screen and (min-width: 768px) {
        width: 290px;
        height: 310px;
    }

    @media screen and (min-width: 1440px) {
        width: 290px;
        height: 310px;
    }
}

.img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.description {
    color: #475467;
    font-size: 10px;
    text-align: left;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
        font-size: 12px;
        margin-bottom: 16px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 16px;
        margin-bottom: 24px;
    }
}

.detailsWrap {
    display: flex;
    align-items: start;
    gap: 40px;
    border-bottom: 1px solid #10182833;
    margin-bottom: 22px;

    @media screen and (min-width: 1440px) {
        margin-bottom: 44px;
    }
}

.detailsInfo {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    color: #101828;
    padding: 10px 0;
    background-color: transparent;

    @media screen and (min-width: 768px) {
        font-size: 20px;
        padding: 20px 0;
    }
}

.detailsInfoActive {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    color: #101828;
    padding: 10px 0;
    background-color: transparent;

    @media screen and (min-width: 768px) {
        font-size: 20px;
        padding: 20px 0;
    }
}

.detailsInfoActive::after {
    position: absolute;
    left: 0;
    right: 0;
    top: 96%;
    width: 100%;
    height: 3px;
    background-color: #E44848;
    content: "";

    @media screen and (min-width: 768px) {
        height: 5px;
        top: 95%;
    }

}

.featuresContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        width: 728px;
        height: 532px;
        gap: 12px;
    }

    @media screen and (min-width: 1440px) {
        width: 902px;
        height: 532px;
        gap: 24px;
    }
}