.listWrap {
    text-align: center;
    max-width: 888px;
    margin: 0 auto;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}

.loadMoreBtn {
    width: 90px;
    height: 35px;
    padding: 8px 20px;
    font-size: 8px;
    font-weight: 500;
    color: #101828;
    background-color: transparent;
    border-radius: 200px;
    border: 1px solid #47546733;
    transition: all 0.3s ease-in-out;

    @media screen and (min-width: 768px) {
        width: 166px;
        height: 56px;
        font-size: 16px;
        padding: 16px 40px;
    }
}

.loadMoreBtn:hover,
.loadMoreBtn:focus {
    border-color: #E44848;
}