.section {
    width: 1440px;
    background-color: #F2F4F7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.205), rgba(46, 47, 66, 0.201)),
        url(/camper-bgr.jpg);
}

.container {
    padding: 600px 30px 30px 30px;
}

.linkWrap {
    display: flex;
    gap: 10px;
}

.link {
    font-size: 16px;
    font-weight: 600;
    width: 173px;
    height: 56px;
    border-radius: 200px;
    color: #fff;
    padding: 16px 60px;
    background-color: #E44848;
}