.section {
    min-width: 320px;
    min-height: 750px;
    background-color: #F2F4F7;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/home-bgr.jpg);
}

.container {
    min-width: 320px;
    max-width: 767.98px;
    width: 100%;
    min-height: 750px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 0 auto;

    @media screen and (min-width: 768px) and (max-width: 1439.98px) {
        min-width: 768px;
        max-width: 1439.98px;
        padding: 20px 50px;
    }

    @media screen and (min-width: 1440px) {
        min-width: 1440px;

    }
}

.titleWrap {
    width: 200px;
    margin-top: auto;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
        width: 400px;
        margin-bottom: 0px;
    }
}

.title {
    font-size: 24px;
    font-weight: 700;
    color: #fafafa;
    letter-spacing: -0.02em;

    @media screen and (min-width: 768px) {
        font-size: 36px;
    }
}

.titleSpan {
    color: #E44848;
    font-style: italic;
    text-transform: uppercase;
}

.text {
    font-size: 10px;
    color: #E44848;

    @media screen and (min-width: 768px) {
        font-size: 18px;
        font-weight: 500;
    }
}

.linkWrap {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.link {
    display: flex;
    justify-content: center;
    font-size: 10px;
    font-weight: 500;
    width: 90px;
    height: 35px;
    border-radius: 200px;
    color: #fff;
    padding: 11px 25px;
    background-color: #E44848;
    transition: all 0.3s ease-in-out;

    @media screen and (min-width: 768px) {
        font-size: 16px;
        font-weight: 600;
        width: 173px;
        height: 56px;
        padding: 16px 60px;
    }
}

.link:hover,
.link:focus {
    background-color: #D84343;
}