.header {
    width: 100%;
    padding: 20px 70px;
    background-color: #475467;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navList {
    display: flex;
    gap: 20px;
}

.linkHome {
    display: flex;
    gap: 10px;
    font-size: 26px;
    font-weight: 700;
    color: #E44848;
    transition: all 0.3s ease-in-out;
    margin-right: auto;
}

.link {
    position: relative;
    display: flex;
    gap: 10px;
    font-size: 26px;
    font-weight: 700;
    color: #E44848;
    transition: all 0.3s ease-in-out;
}


.link:hover,
.link:focus {
    color: #cf2a2a;
}

.span {
    display: flex;
    align-items: center;
}

.svg {
    stroke: #cf2a2a;
    animation: bounce 1.5s infinite reverse;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(2px);
    }

    100% {
        transform: translateY(0);
    }

}

.amount {
    position: absolute;
    right: -12px;
    color: #f19393;
    font-size: 16px;
    font-weight: 500;
}