.header {
    min-width: 1440px;
    padding: 20px;
    background-color: #475467;
}

.link {
    font-size: 26px;
    font-weight: 700;
    color: #E44848;
    transition: all 0.3s ease-in-out;
}

.link:hover,
.link:focus {
    color: #cf2a2a;
    transform: scale(1.1);
}