.section {
    margin: 0 auto;
}

.container {
    width: 1312px;
    min-height: 700px;
    padding: 64px 0;
    margin: 0 auto;
    text-align: center;
}

.listWrap {
    text-align: center;
    max-width: 888px;
    margin: 0 auto;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}

.text {
    font-size: 24px;
    font-weight: 600;
    color: #E44848;
}