.card {
    display: flex;
    gap: 24px;
    width: 888px;
    padding: 24px;
    border: 1px solid #10182833;
    border-radius: 20px;
}

.img {
    border-radius: 10px;
    background-color: #475467;
    object-fit: cover;
}

.descriptionWrap {
    width: 526px;
    text-align: left;
}

.nameWrap {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 8px;
}

.name {
    color: #101828;
    max-width: 339px;
    height: 30px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25;
    margin-right: auto;
    overflow: hidden;
}

.price {
    color: #101828;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25;
}

.likeBtn {
    display: flex;
    background-color: transparent;
}

.svgFavorite {
    fill: #E44848;
}

.locationWrap {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}

.reviewWrap {
    border-bottom: 1px solid black;
}

.reviews {
    color: #101828;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
}

.location {
    color: #101828;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
}

.description {
    color: #475467;
    width: 520px;
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 24px;
}

.detailsWrap {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 24px;
}

.detailsSpan {
    color: #101828;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 14px 18px;
    height: 44px;
    font-size: 16px;
    font-weight: 500;
    background-color: #F2F4F7;
    border-radius: 100px;
}

.showMoreBtn {
    width: 166px;
    height: 56px;
    padding: 16px 40px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #E44848;
    border-radius: 200px;
    transition: all 0.3s ease-in-out;
}

.showMoreBtn:hover,
.showMoreBtn:focus {
    background-color: #cf2a2a;
}